<br>
<h1>{{title}}</h1>

<h2>{{result.name}}</h2>

			<ul id={{this.id}}>
    			<li>age :............................... {{result.age}} ans</li>
    			<li>adresse 1 :......................... {{result.adress1}}</li>
    			<li>adresse 2 :......................... {{result.adress2}}</li>
				<li>CP :................................ {{result.postal_code}}</li>
				<li>ville :............................. {{result.city}}</li>
    	
			</ul>
